In [1]:
import graphlab

In [20]:
image_train = graphlab.SFrame('image_train_data/')
image_test = graphlab.SFrame('image_test_data/')

In [4]:
image_train['label'].sketch_summary()

+------------------+-------+----------+
|       item       | value | is exact |
+------------------+-------+----------+
|      Length      |  2005 |   Yes    |
| # Missing Values |   0   |   Yes    |
| # unique values  |   4   |    No    |
+------------------+-------+----------+

Most frequent items:
+-------+------------+-----+-----+------+
| value | automobile | cat | dog | bird |
+-------+------------+-----+-----+------+
| count |    509     | 509 | 509 | 478  |
+-------+------------+-----+-----+------+

In [16]:
cat_image = image_train[image_train['label']=='cat']
dog_image = image_train[image_train['label']=='dog']
bird_image = image_train[image_train['label']=='bird']
auto_image = image_train[image_train['label']=='automobile']

In [10]:
cat_model = graphlab.nearest_neighbors.create(cat_image,features=['deep_features'],
                                             label='id')

Starting brute force nearest neighbors model training.

In [11]:
dog_model = graphlab.nearest_neighbors.create(dog_image,features=['deep_features'],
                                             label='id')

Starting brute force nearest neighbors model training.

In [13]:
bird_model = graphlab.nearest_neighbors.create(bird_image,features=['deep_features'],
                                             label='id')

Starting brute force nearest neighbors model training.

In [17]:
auto_model = graphlab.nearest_neighbors.create(auto_image,features=['deep_features'],
                                             label='id')

Starting brute force nearest neighbors model training.

In [21]:
graphlab.canvas.set_target('browser')
# set ipynb to browser
test = image_test[0:1]
test['image'].show()

Canvas is accessible via web browser at the URL: http://localhost:61131/index.html
Opening Canvas in default web browser.

In [22]:
cat_model.query(test)

Starting pairwise querying.
+--------------+---------+-------------+--------------+
| Query points | # Pairs | % Complete. | Elapsed Time |
+--------------+---------+-------------+--------------+
| 0            | 1       | 0.196464    | 20.021ms     |
| Done         |         | 100         | 112.123ms    |
+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16289      |  34.623719208 |  1   |
|      0      |      45646      | 36.0068799284 |  2   |
|      0      |      32139      | 36.5200813436 |  3   |
|      0      |      25713      | 36.7548502521 |  4   |
|      0      |       331       | 36.8731228168 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [24]:
cat_model.query(test)['distance'].mean()

Starting pairwise querying.
+--------------+---------+-------------+--------------+
| Query points | # Pairs | % Complete. | Elapsed Time |
+--------------+---------+-------------+--------------+
| 0            | 1       | 0.196464    | 19.03ms      |
| Done         |         | 100         | 91.106ms     |
+--------------+---------+-------------+--------------+

36.15573070978294

In [23]:
dog_model.query(test)

Starting pairwise querying.
+--------------+---------+-------------+--------------+
| Query points | # Pairs | % Complete. | Elapsed Time |
+--------------+---------+-------------+--------------+
| 0            | 1       | 0.196464    | 15.018ms     |
| Done         |         | 100         | 111.121ms    |
+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16976      | 37.4642628784 |  1   |
|      0      |      13387      | 37.5666832169 |  2   |
|      0      |      35867      | 37.6047267079 |  3   |
|      0      |      44603      | 37.7065585153 |  4   |
|      0      |       6094      | 38.5113254907 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [25]:
dog_model.query(test)['distance'].mean()

Starting pairwise querying.
+--------------+---------+-------------+--------------+
| Query points | # Pairs | % Complete. | Elapsed Time |
+--------------+---------+-------------+--------------+
| 0            | 1       | 0.196464    | 18.02ms      |
| Done         |         | 100         | 99.099ms     |
+--------------+---------+-------------+--------------+

37.77071136184156

In [26]:
image_test_cat = image_test[image_test['label']=='cat']
image_test_dog = image_test[image_test['label']=='dog']
image_test_bird = image_test[image_test['label']=='bird']
image_test_auto = image_test[image_test['label']=='automobile']

In [31]:
# def get_images_from_ids(query_result):
#     return image_train.filter_by(query_result['reference_label'],'id')

In [34]:
# dog_cat_neighbors=get_images_from_ids(cat_model.query(image_test_dog, k=1))

In [35]:
# dog_cat_neighbors['image'].show()

In [46]:
dog_dog = dog_model.query(image_test_dog, k=1)
dog_cat = cat_model.query(image_test_dog, k=1)
dog_automobile = auto_model.query(image_test_dog, k=1)
dog_bird = bird_model.query(image_test_dog, k=1)

Starting blockwise querying.
max rows per data block: 4348
number of reference data blocks: 4
number of query data blocks: 1
+--------------+---------+-------------+--------------+
| Query points | # Pairs | % Complete. | Elapsed Time |
+--------------+---------+-------------+--------------+
| 1000         | 127000  | 24.9509     | 773.727ms    |
| Done         | 509000  | 100         | 835.785ms    |
+--------------+---------+-------------+--------------+
Starting blockwise querying.
max rows per data block: 4348
number of reference data blocks: 4
number of query data blocks: 1
+--------------+---------+-------------+--------------+
| Query points | # Pairs | % Complete. | Elapsed Time |
+--------------+---------+-------------+--------------+
| 1000         | 127000  | 24.9509     | 858.307ms    |
| Done         | 509000  | 100         | 895.843ms    |
+--------------+---------+-------------+--------------+
Starting blockwise querying.
max rows per data block: 4348
number of reference data blocks: 4
number of query data blocks: 1
+--------------+---------+-------------+--------------+
| Query points | # Pairs | % Complete. | Elapsed Time |
+--------------+---------+-------------+--------------+
| 1000         | 128000  | 25.1473     | 704.663ms    |
| Done         | 509000  | 100         | 756.211ms    |
+--------------+---------+-------------+--------------+
Starting blockwise querying.
max rows per data block: 4348
number of reference data blocks: 4
number of query data blocks: 1
+--------------+---------+-------------+--------------+
| Query points | # Pairs | % Complete. | Elapsed Time |
+--------------+---------+-------------+--------------+
| 1000         | 119000  | 24.8954     | 704.163ms    |
| Done         | 478000  | 100         | 728.184ms    |
+--------------+---------+-------------+--------------+

In [47]:
dog_bird

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 1000

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      44658      | 41.7538647304 |  1   |
|      1      |       9215      | 41.3382958925 |  1   |
|      2      |      36675      | 38.6157590853 |  1   |
|      3      |      12582      | 37.0892269954 |  1   |
|      4      |      36122      |  38.272288694 |  1   |
|      5      |       8736      | 39.1462089236 |  1   |
|      6      |      38991      |  40.523040106 |  1   |
|      7      |      44177      | 38.1947918393 |  1   |
|      8      |       4549      | 40.1567131661 |  1   |
|      9      |      40225      | 45.5597962603 |  1   |
+-------------+-----------------+---------------+------+
[1000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [90]:
dog_distance = graphlab.SFrame({'dog_automobile': dog_automobile['distance'],
                              'dog_bird': dog_bird['distance'],
                             'dog_cat': dog_cat['distance'],
                             'dog_dog': dog_dog['distance']})

In [91]:
dog_distance

Columns:
	dog_automobile	float
	dog_bird	float
	dog_cat	float
	dog_dog	float

Rows: 1000

Data:
+----------------+---------------+---------------+---------------+
| dog_automobile |    dog_bird   |    dog_cat    |    dog_dog    |
+----------------+---------------+---------------+---------------+
| 41.9579761457  | 41.7538647304 | 36.4196077068 | 33.4773590373 |
| 46.0021331807  | 41.3382958925 | 38.8353268874 | 32.8458495684 |
| 42.9462290692  | 38.6157590853 | 36.9763410854 | 35.0397073189 |
| 41.6866060048  | 37.0892269954 | 34.5750072914 | 33.9010327697 |
| 39.2269664935  |  38.272288694 |  34.778824791 | 37.4849250909 |
| 40.5845117698  | 39.1462089236 | 35.1171578292 |  34.945165344 |
| 45.1067352961  |  40.523040106 | 40.6095830913 | 39.0957278345 |
| 41.3221140974  | 38.1947918393 | 39.9036867306 | 37.7696131032 |
| 41.8244654995  | 40.1567131661 | 38.0674700168 | 35.1089144603 |
| 45.4976929401  | 45.5597962603 | 42.7258732951 | 43.2422832585 |
+----------------+---------------+---------------+---------------+
[1000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [94]:
dog_distance[0].values()

[41.753864730351246, 33.47735903726335, 36.41960770675437, 41.957976145712024]

In [95]:
def is_dog_correct(row):
    if min(row.values())==row['dog_dog']:
        return 1
    else:
        return 0

In [96]:
dog_distance['is_correct']=dog_distance.apply(is_dog_correct)

In [97]:
dog_distance

Columns:
	dog_automobile	float
	dog_bird	float
	dog_cat	float
	dog_dog	float
	is_correct	int

Rows: 1000

Data:
+----------------+---------------+---------------+---------------+------------+
| dog_automobile |    dog_bird   |    dog_cat    |    dog_dog    | is_correct |
+----------------+---------------+---------------+---------------+------------+
| 41.9579761457  | 41.7538647304 | 36.4196077068 | 33.4773590373 |     1      |
| 46.0021331807  | 41.3382958925 | 38.8353268874 | 32.8458495684 |     1      |
| 42.9462290692  | 38.6157590853 | 36.9763410854 | 35.0397073189 |     1      |
| 41.6866060048  | 37.0892269954 | 34.5750072914 | 33.9010327697 |     1      |
| 39.2269664935  |  38.272288694 |  34.778824791 | 37.4849250909 |     0      |
| 40.5845117698  | 39.1462089236 | 35.1171578292 |  34.945165344 |     1      |
| 45.1067352961  |  40.523040106 | 40.6095830913 | 39.0957278345 |     1      |
| 41.3221140974  | 38.1947918393 | 39.9036867306 | 37.7696131032 |     1      |
| 41.8244654995  | 40.1567131661 | 38.0674700168 | 35.1089144603 |     1      |
| 45.4976929401  | 45.5597962603 | 42.7258732951 | 43.2422832585 |     0      |
+----------------+---------------+---------------+---------------+------------+
[1000 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [99]:
dog_distance['is_correct'].sum()

678L